@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
}

li,a,button {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/* body{ 
    display:flex; 
    flex-direction:column; 
  } */


  /* footer{ min-height:50px; background:PapayaWhip;margin-top:auto;  } */



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    color: white;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.first_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first_page p {
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 3.5px;
}

.container-fluid{
    margin-left: 450px;
    margin-right: 450px;
}

img {
    border-radius: 50%;
    width: 150px;
}

.content  ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

.content ul li  {
    /* padding-left: 100px; */
    margin-top: 20px;
}

